<footer class="w-100 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center p-3">
                <h2 class="text-uppercase">location</h2>
                <p>2215 John Daniel Drive</p>Clark, MO 65243<p></p>
            </div>
            <div class="col-md-4 text-center p-3">
                <h2 class="text-uppercase">about the web</h2>
                <div class="icons">
                    <i class="fa-brands fa-facebook mx-1 icon p-2 border border-1 border-white rounded-5 "></i>
                    <i class="fa-brands fa-twitter mx-1 icon p-2 border border-1 border-white rounded-5"></i>
                    <i class="fa-brands fa-linkedin-in mx-1 icon p-2 border border-1 border-white rounded-5"></i>
                    <i class="fa-solid fa-globe mx-1 icon p-2 border border-1 border-white rounded-5"></i>
                </div>
            </div>
            <div class="col-md-4 text-center p-3">
                <h2 class="text-uppercase">ABOUT FREELANCER
                </h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</footer>

<div class="final w-100 p-3">
    <div class="container">
        <div class="row text-center">
            <h6>Copyright © Your Website 2021</h6>
        </div>
    </div>
</div>