@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

#about {
  background-color: #1abc9c;
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 85vh;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.line {
  height: 5px;
  width: 7rem;
  background-color: #fff;
 margin: 0 10px;
}
