<section class="w-100 p-5 d-flex justify-content-center  align-items-center" id="hero">
    <div class="container ">
        <div class="row ">
            <div class="contant w-100 text-center mt-3">
                <img src="../../assets/avataaars.svg" alt="" class=" my-3" width="300">
                <h1>START FRAMEWORK</h1>
                <div class="star d-flex justify-content-center  align-items-center">
                    <div class="line"></div>
                    <i class="fa-solid fa-star my-3"></i>
                    <div class="line"></div>
                </div>
                <p>Graphic Artist - Web Designer - Illustrator
                </p>
            </div>
        </div>



    </div>
</section>