<section class="w-100 mt-5 overflow-hidden" id="contact">
    <div class="container mt-5">
        <div class="row text-center ">
            <h1>CONATCT SECTION
            </h1>
            <div class="star d-flex justify-content-center  align-items-center">
                <div class="line"></div>
                <i class="fa-solid fa-star my-3"></i>
                <div class="line"></div>
            </div>

            <div class="w-100  my-4">
                <input  id="userName" type="text" placeholder="userName" name="userName"
                    class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
                <input  id="userAge" type="text" placeholder="userAge" name="userAge"
                    class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
                <input  id="userEmail" type="email" placeholder="userEmail" name="userEmail"
                    class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
                <input  id="userPassword" type="password" placeholder="userPassword"
                    name="userPassword"
                    class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
                <button  class="btn mt-4 text-white" style="background-color: #1abc9c;"> send
                    Message </button>
            </div>
        </div>
    </div>
</section>