<section class="w-100  mt-5 pt-5 " id="port">
    <div class="container ">
        <div class="row text-center">
            <h1>PORTFOLIO COMPONENT
            </h1>
            <div class="star d-flex justify-content-center  align-items-center">
                <div class="line"></div>
                <i class="fa-solid fa-star my-3"></i>
                <div class="line"></div>
            </div>

            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/poert1.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/port2.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/port3.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/poert1.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/port2.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="img-inner p-3 col-lg-4 col-sm-6 col-12 ">
                <div class="img-cont position-relative rounded-2 overflow-hidden">
                    <img src="./assets/port3.png" alt="" class="w-100  ">
                    <div
                        class="overLayer position-absolute top-0 start-0  end-0 bottom-0  d-flex justify-content-center  align-items-center  ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>